.dashboard-container {
    display: grid;


    row-gap: 60px;
    background-color: rgb(221, 221, 221);
    padding: 20px;


}

.dashboard-container .row {
    display: flex;
    position: relative;
    left: 12%;


    width: 80%;


}

.dashboard-container .row .column {
    width: 100%;
    
    border: 5px solid  rgb(221, 138, 13);
    padding: 50px;
    margin: 20px;
}